#menucell {
border: none;
width: 140px;
vertical-align: top;
}

/* Side menu */
ul.menu, ul.menu ul {
 margin: 0;
 padding: 0;
 list-style-type: none;
}
ul.menu li > a {
display: block;
}
ul.menu > li {
  margin-bottom: 5px;
  padding-bottom: 3px;
  background: #9acce8;
  box-shadow:0 2px 2px 0 rgba(0,0,0,0.50);
}
ul.menu > li > a {font-family: arial,helvetica,sans-serif;font-size: 12px;font-weight: bold;color: #fff;text-decoration: none;background-color: #0077bd;text-align: center;vertical-align: middle;margin-bottom: 3px;padding-bottom: 5px;padding-top: 5px;border-style: solid;border-color: #fff;border-width: 0 0 1px;}

ul.menu ul > li > a {color: #31363b;text-decoration: none;font-weight: bold;font-size: 12px;vertical-align: middle;margin: 2px 0;padding-top: 2px;padding-bottom: 2px;}
html.ltr ul.menu ul > li > a {
text-align: left;
padding-left: 15px;
}
html.rtl ul.menu ul > li > a {
text-align: right;
padding-right: 15px;
}

.menuitem.menucurrent {
background-color: #3daee9;
}
.menuitem:hover {
color: #fff;
}

.menuitem a:link, .menuitem a:visited {text-decoration: none;color: #141618;}

.menuitem a:hover {
text-decoration: none;
color:#fff;
}

/* Main menu */
.iconmenu-section {
border-top: 2px solid #fff;
clear: both;
}

.iconmenu-section + br {
clear: both;
}

.iconmenu-section:first-child {
border-top: none;
}

.iconmenu .imgcontainer {
height: 48px;
width: 48px;
display: flex;
align-items: center;
justify-content: center;
}

.iconmenu img {
border: none;
vertical-align: middle;
flex: none;
max-height: 48px;
max-width: 48px;
}

h1.menuheader {
  margin: 0;
  padding: 10px;
  display: inline-block;
  border-bottom: 2px solid #fff;
  background-color: #0077bd;
}

html.ltr h1.menuheader {
border-right: 1px solid #9acce8;
border-radius: 0 0 5px 0;
float: left;
}

html.rtl h1.menuheader {
border-left: 1px solid ;
border-radius: 0 0 0 5px;
float: right;
}

.iconmenu {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 17%;
  min-width: 130px;
  margin: .5%;
  padding: .5%;
  border: 2px solid #9acce8;
 }
html.ltr .iconmenu {
float: left;
text-align: left;
}
html.rtl .iconmenu {
float: right;
text-align: right;
}
.iconmenu:hover {
border-bottom: 2px solid #fff;
transition:.5s
}

.iconmenu:nth-child(2) {
clear: left;
}
html.rtl .iconmenu:nth-child(2) {
clear: right;
}

.iconmenu > a:link, .iconmenu > a:visited {
text-decoration: none;
color: #31363b;
}

.iconmenu > a:hover {
text-decoration: none;
}


/* On small screens */
@media (max-width: 640px) {
  html.ltr .iconmenu,
  html.rtl .iconmenu {
  text-align: center;
  margin: 2px;
  padding: 2px;
  min-width: 70px;
  min-height: 80px;
  display: block;
  }
  .iconmenu .imgcontainer {
  margin: auto;
  display: block;
  float: none;
  }
  h1.menuheader {
  display: block;
  padding: 5px;
  text-align: center;
  }
  html.ltr h1.menuheader {
  border-right: none;
  float: none;
  }
  html.rtl h1.menuheader {
  border-left: none;
  float: none;
  }
}
  border-left: none;
  float: none;
  }
}
.iconmenu > a:link, .iconmenu > a:visited {
text-decoration: none;
color: #31363b;
}

.iconmenu > a:hover {
text-decoration: none;
}


/* On small screens */
@media (max-width: 640px) {
  html.ltr .iconmenu,
  html.rtl .iconmenu {
  text-align: center;
  margin: 2px;
  padding: 2px;
  min-width: 70px;
  min-height: 80px;
  display: block;
  }
  .iconmenu .imgcontainer {
  margin: auto;
  display: block;
  float: none;
  }
  h1.menuheader {
  display: block;
  padding: 5px;
  text-align: center;
  }
  html.ltr h1.menuheader {
  border-right: none;
  float: none;
  }
  html.rtl h1.menuheader {
  border-left: none;
  float: none;
  }
}
