/* Login screen */
p.gosaLoginWarning {
text-align: center;
color: red;
font-weight: bold;
font-size: 12px;
}

html, body {
min-height: 100%;
}

div#window-container {
text-align: center;
width: 100%;
bottom: 0;
top: 52px;
position: absolute;
}

div#window-div {
min-width: 50%;
margin-top: 100px;
background-color: #9acce8 ;
display: inline-block;
}

div#window-titlebar {
text-align: center;
border-bottom: 1px solid #c0c2c3;
padding: 8px;
background-color: #00bcd4;
}

div#window-titlebar > p {
margin: 0;
padding: 0;
font-size: 24px;
font-weight: bold;
}

div#window-content > div {
padding: 10px;
}

a:link {
text-decoration: none;
color: #2980b9;
}

a:visited {
text-decoration: none;
color: #2980b9;
}

div#window-footer {
background-color:  #141618;
padding: 0;
}

div#window-footer > div {
display: inline-block;
width: 47%;
padding: 1%;
}

div#window-footer > div:nth-child(1) {
color: red;
font-weight: bold;
}
html.ltr div#window-footer > div:nth-child(1) {
text-align: left;
}
html.rtl div#window-footer > div:nth-child(1) {
text-align: right;
}

span.warning, p.warning {
color: red;
}

/* On small screens */
@media (max-width: 640px) {
  div#window-div {
  min-width: 70%;
  margin-top: 10px;
  }
  div#window-footer > div {
  display: block;
  width: auto;
  padding: 5px;
  text-align: center !important;
  }
  div#window-footer.plugbottom > div:nth-child(2) > input[type=submit] {
  width: 100% !important;
  }
  p.gosaLoginWarning {
  margin-top: 0;
  margin-bottom: 0;
  }
}

